{
  "info": {
    "title": "Postrun API",
    "version": "1.0.0",
    "description": "The posting + ads API for apps and AI agents.\n\n## Authentication\n\nEvery request carries `Authorization: Bearer <credential>`. There are two kinds:\n\n- **Secret API key** (`pr_…`) — full account access. Use it only from your\n  **backend**; never expose it to a browser.\n- **Frontend token** — a short-lived, profile-scoped JWT your backend mints with\n  `POST /v1/tokens` (from a secret key) and hands to the browser. The browser then\n  calls this API **directly**, with no proxy backend of your own. A token grants\n  only the `scopes` and profiles you mint into it.\n\nEndpoints that accept a frontend token list **both** credentials under\n*Authorizations* and say so in their description; the rest are secret-key only.\nMoney and structural writes are intentionally secret-key only — they can never be\nreached with a browser token.\n\n## Rate limits\n\nLimits are **per account** (shared across all API keys and frontend tokens),\non a sliding 1-minute window, split by method:\n\n- **Reads** (GET): 1000 per minute\n- **Writes** (POST/PUT/PATCH/DELETE): 100 per minute\n\nEvery response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and\n`X-RateLimit-Reset` (unix seconds). Exceeding a bucket returns\n`429 TOO_MANY_REQUESTS` with a `Retry-After` header (seconds)."
  },
  "servers": [
    {
      "url": "https://api.postrun.ai/v1"
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unauthorized",
          "forbidden",
          "not_found",
          "conflict",
          "validation_failed",
          "rate_limited",
          "internal_error",
          "idempotency_key_invalid",
          "idempotency_key_reused",
          "idempotency_request_in_progress",
          "account_not_available",
          "connection_reauth_required",
          "connection_not_pending",
          "not_implemented",
          "connection_discovery_failed",
          "tiktok_creator_info_unavailable",
          "media_processing",
          "not_publishable",
          "invalid_connection",
          "invalid_media",
          "profile_scope_invalid",
          "media_unprobeable",
          "media_too_large",
          "media_aspect_ratio_unsupported",
          "media_resolution_too_low",
          "media_gif_unsupported",
          "media_format_recompressed",
          "media_resolution_downscaled",
          "video_container_unsupported",
          "video_codec_unsupported",
          "video_audio_codec_unsupported",
          "video_too_large",
          "video_too_small",
          "video_dimensions_unsupported",
          "video_dimensions_too_large",
          "video_fps_unsupported",
          "video_fps_too_low",
          "video_aspect_unsupported",
          "video_duration_too_short",
          "video_duration_exceeds_max",
          "video_transform_failed",
          "media_fetch_failed",
          "document_format_unsupported",
          "document_too_large",
          "document_too_many_pages",
          "media_format_indeterminate",
          "media_format_unsupported",
          "media_count_invalid",
          "body_too_long",
          "content_missing",
          "content_conflict",
          "content_incomplete",
          "content_kind_mismatch",
          "media_type_mismatch",
          "tag_limit_exceeded",
          "reel_field_on_non_reel",
          "field_placement_invalid",
          "media_not_ready",
          "media_failed",
          "media_unsupported",
          "media_kind_mismatch",
          "variant_unparseable",
          "publishing_unavailable",
          "x_duplicate_content",
          "x_not_authorized",
          "x_access_not_permitted",
          "x_rate_limited",
          "x_publish_failed",
          "x_media_upload_failed",
          "linkedin_duplicate_content",
          "linkedin_auth_expired",
          "linkedin_permission_denied",
          "linkedin_rate_limited",
          "linkedin_media_processing",
          "linkedin_media_failed",
          "linkedin_media_upload_failed",
          "linkedin_publish_failed",
          "instagram_media_processing",
          "instagram_container_expired",
          "instagram_container_failed",
          "instagram_rate_limited",
          "instagram_not_authorized",
          "instagram_publish_failed",
          "facebook_reel_processing",
          "facebook_reel_failed",
          "facebook_rate_limited",
          "facebook_not_authorized",
          "facebook_publish_failed",
          "tiktok_privacy_not_allowed",
          "tiktok_duration_exceeds_max",
          "tiktok_media_processing",
          "tiktok_not_authorized",
          "tiktok_rate_limited",
          "tiktok_url_ownership_unverified",
          "tiktok_unaudited_private_only",
          "tiktok_spam_risk",
          "tiktok_publish_failed",
          "post_publish_failed",
          "post_partially_published",
          "connection_platform_mismatch",
          "connection_removed"
        ],
        "title": "ErrorCode",
        "description": "The closed set of machine-readable Postrun error codes. Branch on this. Each links to https://docs.postrun.ai/errors/<code>."
      }
    },
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret API key (`Authorization: Bearer pr_…`). Backend only — never expose it to a browser."
      },
      "frontendToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-lived, profile-scoped frontend token minted via `POST /v1/tokens`. Browser-safe; grants only the scopes and profiles it was minted with."
      }
    }
  },
  "openapi": "3.1.1",
  "paths": {
    "/profiles": {
      "post": {
        "operationId": "profiles.create",
        "summary": "Create a profile",
        "description": "**Authentication.** Secret `pr_` API key, or a browser-safe frontend token granting `profiles:write` with account-wide profile scope (`all`); a profile-scoped token cannot create.\n\nCreates a profile — a client/brand workspace under your account, and the unit connections attach to.",
        "tags": ["Profiles"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Display name for the profile (your client or brand)."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 280,
                    "description": "Optional short note about the profile (a couple of sentences)."
                  },
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Your own id for this client/brand. Unique within your account — set it to look the profile up later and avoid a join table on your side."
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 500
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "description": "Your own key/value context, returned on reads."
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "obj_01h455vb4pex5vsknk084sn02q",
                      "name": "Acme Co.",
                      "description": "Q3 product launch.",
                      "external_id": "client_acme",
                      "metadata": {
                        "plan": "pro"
                      },
                      "created_at": "2026-06-16T14:32:08Z",
                      "updated_at": "2026-06-16T14:32:08Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [400]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_invalid"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_invalid"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_invalid": {
                    "summary": "The Idempotency-Key header is malformed.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_invalid",
                      "title": "The Idempotency-Key header is malformed.",
                      "status": 400,
                      "code": "idempotency_key_invalid",
                      "detail": "The Idempotency-Key header is malformed.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Authentication is required."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["unauthorized"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "The request carried no valid Postrun credential.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/unauthorized",
                      "title": "The request carried no valid Postrun credential.",
                      "status": 401,
                      "code": "unauthorized",
                      "detail": "The request carried no valid Postrun credential.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/forbidden"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["forbidden"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["forbidden"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "The credential is valid but not permitted to do this.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/forbidden",
                      "title": "The credential is valid but not permitted to do this.",
                      "status": 403,
                      "code": "forbidden",
                      "detail": "The credential is valid but not permitted to do this.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/not_found"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The requested resource was not found."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["not_found"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "The requested resource does not exist for this account.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/not_found",
                      "title": "The requested resource does not exist for this account.",
                      "status": 404,
                      "code": "not_found",
                      "detail": "The requested resource does not exist for this account.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/conflict"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [409]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["conflict", "idempotency_request_in_progress"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["conflict"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "conflict": {
                    "summary": "The request conflicts with the resource’s current state.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/conflict",
                      "title": "The request conflicts with the resource’s current state.",
                      "status": 409,
                      "code": "conflict",
                      "detail": "The request conflicts with the resource’s current state.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  },
                  "idempotency_request_in_progress": {
                    "summary": "A request with this Idempotency-Key is still running.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_request_in_progress",
                      "title": "A request with this Idempotency-Key is still running.",
                      "status": 409,
                      "code": "idempotency_request_in_progress",
                      "detail": "A request with this Idempotency-Key is still running.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [422]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_reused"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_reused"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_reused": {
                    "summary": "This Idempotency-Key was reused with a different payload.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_reused",
                      "title": "This Idempotency-Key was reused with a different payload.",
                      "status": 422,
                      "code": "idempotency_key_reused",
                      "detail": "This Idempotency-Key was reused with a different payload.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Rate limit exceeded for this account."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["rate_limited"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["rate_limited"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Too many requests for this account in the current window.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/rate_limited",
                      "title": "Too many requests for this account in the current window.",
                      "status": 429,
                      "code": "rate_limited",
                      "detail": "Too many requests for this account in the current window.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "frontendToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesCreate } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesCreate({\n  client,\n  body: { /* … */ },\n});"
          }
        ]
      },
      "get": {
        "operationId": "profiles.list",
        "summary": "List profiles",
        "description": "**Authentication.** Secret `pr_` API key, or a browser-safe frontend token granting `profiles:read` (the response is limited to the profiles the token is scoped to).\n\nLists the profiles under your account, newest first.",
        "tags": ["Profiles"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Maximum number of items to return (1–100). Defaults to 20."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991,
              "default": 0,
              "description": "Number of items to skip before this page. Defaults to 0."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Return only the profile with this exact external_id (your own client/brand id)."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "object",
              "propertyNames": {
                "type": "string",
                "maxLength": 40
              },
              "additionalProperties": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 500
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  }
                ]
              },
              "description": "Filter by metadata key/value pairs (exact match; multiple keys are ANDed; omit for no filter). REST: a URL-encoded JSON object, e.g. ?metadata=%7B%22campaign%22%3A%22summer%22%2C%22priority%22%3A3%7D. SDK/MCP: pass the object directly. Values are scalars (string/number/boolean), matched type-exactly. No operators or ranges."
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "const": "list",
                      "description": "Always the string `list`."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Profile id."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name."
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Optional short note, or null if unset."
                          },
                          "external_id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Your own id for this client/brand, or null if unset."
                          },
                          "metadata": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string",
                              "maxLength": 40
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "boolean"
                                }
                              ]
                            },
                            "description": "Your own key/value context (defaults to {})."
                          },
                          "created_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO-8601 creation time."
                          },
                          "updated_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO-8601 last-update time."
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "external_id",
                          "metadata",
                          "created_at",
                          "updated_at"
                        ]
                      },
                      "description": "The items on this page."
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "Total items matching the query, across all pages."
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "The limit applied to this page."
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "The offset applied to this page."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if more items exist after this page."
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "total",
                    "limit",
                    "offset",
                    "has_more"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "id": "obj_01h455vb4pex5vsknk084sn02q",
                          "name": "Acme Co.",
                          "description": "Q3 product launch.",
                          "external_id": "client_acme",
                          "metadata": {
                            "plan": "pro"
                          },
                          "created_at": "2026-06-16T14:32:08Z",
                          "updated_at": "2026-06-16T14:32:08Z"
                        }
                      ],
                      "total": 1,
                      "limit": 20,
                      "offset": 0,
                      "has_more": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [400]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_invalid"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_invalid"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_invalid": {
                    "summary": "The Idempotency-Key header is malformed.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_invalid",
                      "title": "The Idempotency-Key header is malformed.",
                      "status": 400,
                      "code": "idempotency_key_invalid",
                      "detail": "The Idempotency-Key header is malformed.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Authentication is required."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["unauthorized"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "The request carried no valid Postrun credential.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/unauthorized",
                      "title": "The request carried no valid Postrun credential.",
                      "status": 401,
                      "code": "unauthorized",
                      "detail": "The request carried no valid Postrun credential.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/forbidden"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["forbidden"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["forbidden"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "The credential is valid but not permitted to do this.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/forbidden",
                      "title": "The credential is valid but not permitted to do this.",
                      "status": 403,
                      "code": "forbidden",
                      "detail": "The credential is valid but not permitted to do this.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/not_found"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The requested resource was not found."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["not_found"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "The requested resource does not exist for this account.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/not_found",
                      "title": "The requested resource does not exist for this account.",
                      "status": 404,
                      "code": "not_found",
                      "detail": "The requested resource does not exist for this account.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/conflict"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [409]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["conflict", "idempotency_request_in_progress"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["conflict"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "conflict": {
                    "summary": "The request conflicts with the resource’s current state.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/conflict",
                      "title": "The request conflicts with the resource’s current state.",
                      "status": 409,
                      "code": "conflict",
                      "detail": "The request conflicts with the resource’s current state.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  },
                  "idempotency_request_in_progress": {
                    "summary": "A request with this Idempotency-Key is still running.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_request_in_progress",
                      "title": "A request with this Idempotency-Key is still running.",
                      "status": 409,
                      "code": "idempotency_request_in_progress",
                      "detail": "A request with this Idempotency-Key is still running.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [422]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_reused"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_reused"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_reused": {
                    "summary": "This Idempotency-Key was reused with a different payload.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_reused",
                      "title": "This Idempotency-Key was reused with a different payload.",
                      "status": 422,
                      "code": "idempotency_key_reused",
                      "detail": "This Idempotency-Key was reused with a different payload.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Rate limit exceeded for this account."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["rate_limited"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["rate_limited"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Too many requests for this account in the current window.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/rate_limited",
                      "title": "Too many requests for this account in the current window.",
                      "status": 429,
                      "code": "rate_limited",
                      "detail": "Too many requests for this account in the current window.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "frontendToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesList } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesList({\n  client,\n  query: { /* filters */ },\n});"
          }
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "operationId": "profiles.get",
        "summary": "Retrieve a profile",
        "description": "**Authentication.** Secret `pr_` API key, or a browser-safe frontend token granting `profiles:read` scoped to the target profile.\n\nRetrieves a single profile by id.",
        "tags": ["Profiles"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "obj_01h455vb4pex5vsknk084sn02q",
                      "name": "Acme Co.",
                      "description": "Q3 product launch.",
                      "external_id": "client_acme",
                      "metadata": {
                        "plan": "pro"
                      },
                      "created_at": "2026-06-16T14:32:08Z",
                      "updated_at": "2026-06-16T14:32:08Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [400]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_invalid"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_invalid"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_invalid": {
                    "summary": "The Idempotency-Key header is malformed.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_invalid",
                      "title": "The Idempotency-Key header is malformed.",
                      "status": 400,
                      "code": "idempotency_key_invalid",
                      "detail": "The Idempotency-Key header is malformed.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Authentication is required."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["unauthorized"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "The request carried no valid Postrun credential.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/unauthorized",
                      "title": "The request carried no valid Postrun credential.",
                      "status": 401,
                      "code": "unauthorized",
                      "detail": "The request carried no valid Postrun credential.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/forbidden"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["forbidden"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["forbidden"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "The credential is valid but not permitted to do this.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/forbidden",
                      "title": "The credential is valid but not permitted to do this.",
                      "status": 403,
                      "code": "forbidden",
                      "detail": "The credential is valid but not permitted to do this.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/not_found"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The requested resource was not found."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["not_found"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "The requested resource does not exist for this account.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/not_found",
                      "title": "The requested resource does not exist for this account.",
                      "status": 404,
                      "code": "not_found",
                      "detail": "The requested resource does not exist for this account.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/conflict"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [409]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["conflict", "idempotency_request_in_progress"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["conflict"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "conflict": {
                    "summary": "The request conflicts with the resource’s current state.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/conflict",
                      "title": "The request conflicts with the resource’s current state.",
                      "status": 409,
                      "code": "conflict",
                      "detail": "The request conflicts with the resource’s current state.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  },
                  "idempotency_request_in_progress": {
                    "summary": "A request with this Idempotency-Key is still running.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_request_in_progress",
                      "title": "A request with this Idempotency-Key is still running.",
                      "status": 409,
                      "code": "idempotency_request_in_progress",
                      "detail": "A request with this Idempotency-Key is still running.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_reused"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [422]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_reused"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_reused"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_reused": {
                    "summary": "This Idempotency-Key was reused with a different payload.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_reused",
                      "title": "This Idempotency-Key was reused with a different payload.",
                      "status": 422,
                      "code": "idempotency_key_reused",
                      "detail": "This Idempotency-Key was reused with a different payload.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/rate_limited"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Rate limit exceeded for this account."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["rate_limited"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["rate_limited"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Too many requests for this account in the current window.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/rate_limited",
                      "title": "Too many requests for this account in the current window.",
                      "status": 429,
                      "code": "rate_limited",
                      "detail": "Too many requests for this account in the current window.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "secretKey": []
          },
          {
            "frontendToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "@postrun/js",
            "source": "import { createPostrunClient, profilesGet } from '@postrun/js';\n\nconst client = createPostrunClient({ getToken });\n\nconst { data } = await profilesGet({\n  client,\n  path: { id: '…' },\n});"
          }
        ]
      },
      "patch": {
        "operationId": "profiles.update",
        "summary": "Update a profile",
        "description": "**Authentication.** Secret `pr_` API key, or a browser-safe frontend token granting `profiles:write` scoped to the target profile.\n\nUpdates a profile. Send only the fields you want to change; provide at least one.",
        "tags": ["Profiles"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Profile id."
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "New display name for the profile."
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 280
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "New short note, or null to clear the existing note. Omit to leave unchanged."
                  },
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "New id for this client/brand (unique within your account). Omit to leave unchanged."
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 500
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "description": "Replacement key/value context — REPLACES the stored object wholesale (not merged). Omit to leave unchanged."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Profile id."
                    },
                    "name": {
                      "type": "string",
                      "description": "Display name."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Optional short note, or null if unset."
                    },
                    "external_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Your own id for this client/brand, or null if unset."
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string",
                        "maxLength": 40
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Your own key/value context (defaults to {})."
                    },
                    "created_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 creation time."
                    },
                    "updated_at": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ISO-8601 last-update time."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "external_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "obj_01h455vb4pex5vsknk084sn02q",
                      "name": "Acme Co.",
                      "description": "Q3 product launch.",
                      "external_id": "client_acme",
                      "metadata": {
                        "plan": "pro"
                      },
                      "created_at": "2026-06-16T14:32:08Z",
                      "updated_at": "2026-06-16T14:32:08Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/idempotency_key_invalid"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The request failed."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [400]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["idempotency_key_invalid"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["idempotency_key_invalid"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "idempotency_key_invalid": {
                    "summary": "The Idempotency-Key header is malformed.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/idempotency_key_invalid",
                      "title": "The Idempotency-Key header is malformed.",
                      "status": 400,
                      "code": "idempotency_key_invalid",
                      "detail": "The Idempotency-Key header is malformed.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": [
                        "https://docs.postrun.ai/errors/unauthorized"
                      ]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["Authentication is required."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["unauthorized"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "The request carried no valid Postrun credential.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/unauthorized",
                      "title": "The request carried no valid Postrun credential.",
                      "status": 401,
                      "code": "unauthorized",
                      "detail": "The request carried no valid Postrun credential.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/forbidden"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "You do not have permission to perform this action."
                      ]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["forbidden"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["forbidden"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "summary": "The credential is valid but not permitted to do this.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/forbidden",
                      "title": "The credential is valid but not permitted to do this.",
                      "status": 403,
                      "code": "forbidden",
                      "detail": "The credential is valid but not permitted to do this.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/not_found"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": ["The requested resource was not found."]
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "examples": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"],
                      "description": "The machine-readable error code — branch on this. Narrowed to the codes this endpoint can return at this status.",
                      "examples": ["not_found"]
                    },
                    "detail": {
                      "type": "string",
                      "description": "An occurrence-specific, human-readable explanation."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request id, for support and log correlation."
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "The requested resource does not exist for this account.",
                    "value": {
                      "type": "https://docs.postrun.ai/errors/not_found",
                      "title": "The requested resource does not exist for this account.",
                      "status": 404,
                      "code": "not_found",
                      "detail": "The requested resource does not exist for this account.",
                      "request_id": "req_8x2k4m9q1z"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["type", "title", "status", "code"],
                  "description": "An RFC 9457 problem response.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "A URL to this code's documentation page.",
                      "examples": ["https://docs.postrun.ai/errors/conflict"]
                    },
                    "title": {
                      "type": "string",
                      "description": "A stable, human-readable summary of the error code.",
                      "examples": [
                        "The request conflicts with the current state of the resource."
                      ]
[...]
